body
{
	color:#343A40;
}

form
{
	text-align:center;
}

#exit
{
	text-align:left;
}

h1
{
	text-align:center;
}

#playerInfos
{
}

#lobbyMessage
{
	text-align:center;
}

#name
{

}

#start
{
	text-align:center;
}

td
{
	width:      100px;
	height:     100px;
	text-align: center;
	font-size:  3rem;
	font-family:sans;
	font-weight:400;
}

table
{
	margin:5px auto;
}

.vline
{
	border-left: 4px solid #343A40;
	border-right:4px solid #343A40;
}

.hline
{
	border-top:   4px solid #343A40;
	border-bottom:4px solid #343A40;
}
