body
{
	color:#343A40;
}

form
{
	text-align:center;
}

#exit
{
	text-align:left;
}

h1, h4
{
	text-align:center;
}

#playerInfos
{
}

#lobbyMessage
{
	text-align:center;
}

#name
{

}

#start
{
	text-align:center;
}

.spot
{
	width:      100px;
	height:     100px;
	text-align: center;
	font-size:  3rem;
	font-family:sans;
	font-weight:400;
}

#movesLog td
{
	font-size:small;
	text-align:center;
}

#boardDiv div
{
	width:50%;
	float:left;
	text-align:center;
}

#board
{
	text-align:center;
	display:inline;
}

#log
{
	text-align:center;
	width:75%
}

table
{
	/*margin:5px auto;*/
}

.vline
{
	border-left: 4px solid #343A40;
	border-right:4px solid #343A40;
}

.hline
{
	border-top:   4px solid #343A40;
	border-bottom:4px solid #343A40;
}
